
.create-user {
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-wrapper {
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation-error {
  background-color: rgba(255, 0, 0, 0.09) !important;
}

h3 {
  margin: 0;
  text-align: center;
  font-size: 35px;
  padding-bottom: 15px;
  font-weight: 100;
}

.app-input {
  width: 30%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: .25rem;
  border: none;
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
  height: 40px;
  margin-bottom: 10px;
}

label {
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 10px;
}

label:first-of-type {
  margin-top: 10px;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.btn-create-user {
  color: #fff;
  background-color: #69f0ae;
  border-color: #69f0ae;
  outline: none;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .15);
  transition: box-shadow .3s ease;
  border-radius: .25rem;
  width: 30%;
  justify-content: center;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-create-user:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
